@charset "utf-8";
/* CSS Document */

.pic_border{ border:1px solid #ccc; padding:2px;}
#main1 ul li img{  width:150px; height:133px; }
.ziti{ font-weight:bold;}
.wenzisk  .wen_kaun .wen_pic img{ width:70px; height:70px;}
