
#maincity {
	width:960px;
	height:100%;
	border:1px solid #497a13;
	margin:88px auto;
}
#maincity a{
	color:#7a900e;
}
#citytopa {
	width:960px;
	height:70px;
	line-height:70px;
	border-bottom:1px solid #ccc;
        overflow:hidden;
}
#citytopa h1 {
	float:left;
	height:70px;
	line-height:70px;
	min-width:210px;
	text-align:center;
	font-size:22px;
	color:black;	
	border-right:1px solid #eeeeee;
	background:url(../images/content-title-bg.png);
}
#citytopa h1 a {
	font-size:30px;
	font-weight:bold;
	margin-left:5px;
}
#citytopa p {
	max-width:730px;
	height:70px;
	border-left:1px solid white;
	border-bottom:1px solid #ccc;
	float:left;
	background:url(../images/content-title-bg.png);
}
#citytopa p label {
	margin-left:5px;
	font-weight:bold;
	color:black;
	font-size:14px;
}
#citytopa p a {
	font-size:14px;
	font-weight:bold;
	margin-right:24px;
}
#citytopa p a:hover {
	text-decoration:underline;
}

#cityfilter {
	height:75px;
	border-bottom:1px solid #e4e5e5;
	margin-top:25px;
	padding-left:20px;

}
#cityfilter .froma {
	margin-bottom:10px;
}
#cityfilter label {
	margin-left:5px;
	font-weight:bold;
	color:black;
	font-size:14px;
}
#cityfilter select{
	margin-right:10px;
	height:25px;
	line-height:25px;
	border:1px solid #497a13;
	max-width:150px;
	min-width:60px;
}
#cityfilter input {
	width:70px;
	height:28px;
	margin-left:0px;
	background:#497a13;
	color:white;
	font-size:14px;
	font-weight:bold;
	border:1px solid #21671b;
}
#cityfilter input:hover {
	cursor:pointer;
}
#cityfilter .inputsec {
	width:200px;
	height:25px;
	line-height:25px;
	border:1px solid #497a13;
	background:none;
	color:#ccc;
}
#citytitlelist {
	margin-bottom:10px;
}
#citytitlelist  h2 {
	height:38px;
	width:145px;
	margin:10px 0px 10px 20px;
	line-height:37px;
	font-weight:bold;
	color:white;
	font-size:14px;
	border:none;
	text-align:center;
	background:url(../images/titlebj.jpg) no-repeat;
}
#citytitlelist ul {
	font-size:14px;
	margin:5px 0px 5px 0px;
	
}
#citytitlelist ul li {
	min-height:45px;
	margin-top:5px;
}
#citytitlelist ul li label {
	width:28px;
	height:28px;
	text-align:center;
	line-height:28px;
	font-size:16px;
	font-family:"Tahoma";
	background:#f1f1f1;
	border:1px solid #ccc;
	display:block;
	margin-top:8px;
	float:left;
	margin-left:30px;
	vertical-align:top;
}
#citytitlelist ul li div {
	margin-left:70px;
	padding-top:10px;
	line-height:30px;
}
#citytitlelist ul li a {
	margin:5px 10px;
}
#citytitlelist ul li a:hover{
	display:inline block;
	height:20px;
	color:white;
	background:#7a900e;
	padding:5px 5px 5px 5px;

}
#citytitlelist ul li:hover {
	background:#f7f7f7;
	cursor:pointer;
	height:100%;
	border:1px solid #e5e5e5;
}
#citytitlelist ul li:hover label {
	background:#7a900e;
	color:white;
}


/*subsrcipe*/


/*subsrcipe end*/