/* CSS Document */
.grade {
	background:url(../images/back-color.jpg);
}
#left {
	width:212px;
	height:100%;
	float:left;
	margin-top:20px;
	background:none;
}
#left-1 {
	width:210px;
	height:330px;
}
#left-1 dl{
        border-bottom:1px solid #cccccc;
        margin-bottom:10px;
        padding-bottom:5px;


}
#left-1 h1 {
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#left-1 img {
	width:180px;
	height:180px;
}
#left-1 .button {
	width:50px;
	height:20px;
	line-height:16px;
}
#left-1 dl {
	text-align:center;
	margin-top:15px;
}
#left-1 dl dd {
	margin-top:6px;
}
#left-1 div {
	text-align:center;
}
#left-1 .imdivx {
   width:180px;
   margin-top:10px;
   margin-left:15px;
   border-top:1px dashed #666;
}
#left-1 .imdivx .imgp {
  text-align:left;
  padding-top:20px;
}
#left-1 .imdivx .imgp2 {
   text-align:left;
    padding-top:10px;
	padding-bottom:10px;
} 
#left-1 .imdivx p span {
  font-weight:bold;
}
/*#left-1 div input {
	margin:8px 10px 0 10px;
	cursor:pointer;
	width:55px;
	height:20px;
	line-height:20px;
	border:1px solid #999;
	background:url(../images/space_menu.gif);
}*/
.select-order select {
	min-width: 150px;
	border:1px solid #bbb;
	font-size:12px;
}
.select-order input {
    margin-left:50px;
    margin-right:-40px;
}
#left-1 .inpbut {
	margin:8px 10px 0 10px;
	cursor:pointer;
	width:77px;
	height:25px;
	background:red;
	line-height:26px;
	background:url(../images/anjiuall.jpg);
	background-position:0px -315px;
}
#left-4 {
	width:210px;
	height:100%;
	float:left;
	padding-top:10px;
	padding-bottom:5px;
	text-align:center;
	background:#EBEBEB;
	font-size:12px;
	border:1px solid #CCCCCC;
	border-top:none;
}
#left-4 .havep {
	float:left; 
	margin-top:10px;
	margin-bottom:5px;
}

#left-4 img {
	width:151px;
	height:14px;
	margin-left:6px;
	margin-right:6px;
}
#text {
    margin-top:10px;
	height:86px;
	width:190px;
	resize: none;
}
#check {
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	line-height:16px;
	height:25px;
	width:77px;
	cursor:pointer; 
	background:url(../images/anjiuall.jpg) no-repeat;
    background-position:0px -167px;
}
#submit {
	float:right;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	line-height:16px;
	height:25px;
	width:77px;
	cursor:pointer; 
	background:url(../images/anjiuall.jpg) no-repeat;
    background-position:0px -167px;
}
#left-2 {
	width:210px;
	height:100%;
	margin-top:10px;
	overflow:hidden;
	float:left;
}
#left-2 span {
	margin:0px 6px 0px 6px;
}
#left-2 h1 {
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#left-2 div {
	margin:10px 12px 10px 12px;
}
#left-2 div p {
	padding-bottom:4px;
	line-height:20px;
}
#left-2 img {
	width:180px;
	height:150px;
}
#left-3 {
	width:210px;
	max-height:278px;
	overflow:hidden;
	margin-top:10px;
	float:left;
}
#left-3 h1 {
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#left-3 img {
	width:50px;
	height:50px;
}
#left-3 div {
	width:203px;
	min-height:30px;
	max-height:278px;
	padding:4px 0 0 7px;
}
#left-3 div dl {
	float:left;
	width:52px;
	height:70px;
	padding:8px 0px 4px 11px;
}
#left-3 div dl dt {
	width:50px;
	height:50px;

}
#left-3 div dl dd {
	margin-top:3px;
	width:55px;
	height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#left-3 div a {
	color:#000;
}
#left-4 .evalua {
	font-size:14px;
	float:left; 
	margin-left:10px;
	margin-right:5px;
}
#center {
	width:505px;
	height:100%;
	float:left;
	margin-left:15px;
	margin-top:20px;
}
#center-2 .introd {
	text-indent:2em; 
	margin:10px 5px 0px 5px; 
	font-size:12px;
	line-height:18px;
	
}
#center-2 .introdb {
	text-indent:2em; 
	margin:10px 5px 0px 5px; 
	font-size:14px;
	line-height:24px;
	margin-bottom:8px;
}
#center-1 {
	width:505px;
	height:92px;
}
#center-1 h1 {
	width:495px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#center-2 {
	width:505px;
	min-height:200px;
	font-size:14px;
	
}
#center-2 h1 {
	width:495px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#center-2 p {
	margin-left:10px;
}
#center-3 {
	width:505px;
	height:100%;
	margin-top:10px;
	float:left;
	padding-bottom:5px;
}
#center-3 .coatime {
	margin:10px 10px 0px 10px;
	text-indent:2em;
	line-height:18px;
	font-size:12px;
	height:100px;
}
#center-3 h1 {
	width:495px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#center-3 dl {
	text-align:center;
	margin:12px 0px 0px 29px;
	float:left;
}
#center-3 img {
	width:130px;
	height:130px;
}
#center-3 dl dd {
	margin-top:6px;
	margin-bottom:4px;
	width:130px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#center-4 {
	width:505px;
	height:100%;
	margin-top:10px;
	float:left;
	padding-bottom:10px;
}
#center-4 h1 {
	width:495px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#center-4 dl {
	text-align:center;
	margin:12px 0px 0px 29px;
	float:left;
}
#center-4 img {
	width:130px;
	height:130px;
}
#center-4 dl dd {
	margin-top:6px;
}
#right {
	width:212px;
	height:100%;
	float:right;
	margin-top:20px;
	background:none;
	margin-left:16px;
}
.clustanda {
	padding-left:100px; 
	font-size:13px;
}
.clustandb {
	height:120px;
	margin:10px 5px 0px 5px;
	line-height:18px; 
	text-indent:2em;
}
#right-1 {
	width:212px;
	height:100%;
	margin-top:0px;
	overflow:hidden;
}
#right-2 {
	width:210px;
	height:100%;
	overflow:hidden;
}
#right-2 h1 {
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#right-2 dt {
	width:139px;
	height:24px;
	padding-left:9px;
	padding-top:5px;
	float:left;
	font-size:13px;
	line-height:24px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;

}
.color1 {
	background-color:#FFF;
}
#right-2 dd {
	width:53px;
	height:24px;
	float:left;
	padding-top:5px;
	padding-right:8px;
	font-size:13px;
	line-height:24px;
	text-align:center;
}
#right-3 {
	width:210px;
	height:100%;
	margin-top:10px;
	overflow:hidden;
}
#right-3 p {
	
	line-height:20px;
	font-size:13px;
}
#right-3 .spansevera {
	margin-left:-6px;
	font-size:12px; 
	color:#666;
	float:left;
}
#right-3 .spanseverb {
	color:red; 
	margin-left:5px; 
	font-size:13px;
	float:left;
}
#right-3 .spanseverc {
	height:150px;
	margin:10px 5px 0px 5px;
	line-height:18px; 
	text-indent:2em;
}
#right-3 h1 {
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#right-3 h3 {
	font-weight:normal;
	text-align:center;
	font-size:13px;
	margin-top:5px;
	margin-bottom:5px;
	width:130px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#right-3-1, #right-3-2, #right-3-3, #right-3-4, #right-3-5, #right-3-6 {
	width:210px;
	height:100%;
	float:left;
}
#right-3-1 dt, #right-3-2 dt, #right-3-3 dt, #right-3-4 dt, #right-3-5 dt, #right-3-6 dt {
	width:60px;
	height:75px;
	float:left;
	margin-top:13px;
	margin-left:9px;
	padding-bottom:7px;
}
#img1 {
	width:54px;
	height:54px;
	float:left;
	padding-bottom:5px;
}
#img2 {
	width:16px;
	height:16px;
	float:left;
	margin-right:5px;
}
#right-3-1 dd, #right-3-2 dd, #right-3-3 dd, #right-3-4 dd, #right-3-5 dd, #right-3-6 dd {
	width:136px;
	max-height:96px;
	float:right;
	margin-right:1px;
	margin-top:7px;
	padding-bottom:7px;
	overflow:hidden;
}
#right-3 .dldiv{
    width:200px; 
	border-bottom:1px dashed #999; 
	margin-left:5px; 
	float:left;
	margin-top:2px;
}
#right-4 {
	width:210px;
	height:285px;
	margin-top:10px;
}
#right-4 h1 {
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
#right-4 img {
	width:50px;
	height:50px;
}
#right-4 div {
	width:203px;
	height:250px;
	padding:4px 0 0 7px;
}
#right-4 div dl {
	float:left;
	width:52px;
	padding:12px 0px 0 11px;
}
#right-4 div dl dd {
	margin-top:3px;
}
#right-4 div a {
	color:#000;
}

.butok {
	margin:8px 0px 0 5px;
	cursor:pointer;
	width:64px;
	height:29px;
	line-height:26px;
	background:url(../images/anjiuall.jpg);
	background-position:0px -48px;
}
.date-1 {
    height:20px;
	width:150px;
	border:1px solid #999;
}
#dialogCourseInfo{
	line-height:20px;
	font-size:13px;
}
#dialogCourseInfo span{
	color:#41710d;
}
#courseInfoMemo {
	text-indent:2em;
	color:#41710d;
}
#allmap {
	width: 180px;
	height:150px;
}
#left-2 div.ditu_map {
	margin-left:3px;
}