td {
	font: 12px;
}
.login{
	background-image:url(../images/signin02.gif);
	width:340px;
	height:263px;
}

body{
	background:url(../images/index-img04.gif) center repeat-y;
	background-color:#ffffff;
}
#html-center{
	width: 1024px;
	margin: auto;
}
#logo{
	border: 1px solid #00ff00;
	width: 1024px;
	height: 60px;
}
#menu{
	border: 1px solid #ff0000;
	width: 200px;
	height: 500px;
	float: left;
}
#content{
	border: 1px solid #c0c0c0; 
	width: 1024px;
	height: 500px;
	float: left;
}
