/* 代码整理：懒人之家 www.lanrenzhijia.com */
/** {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	list-style:none;
}*/
.krakatoa-control{margin-top:1px;}
.krakatoa-container img {
     border-right:1px solid #eee;
     height:165px;
}
.krakatoa {
	display:none;
	margin:0px auto;
}
.krakatoa-control {
	padding-bottom:0px;
	
}
.arrows {
	position:absolute;
	top:80px;
	left:-15px;
	z-index:100;
	width:700px;
}
.arrow-left{float:left;}
.arrow-right{float:right;}
.arrow {
	
	margin-right:7px;
}
.arrow a {
	display:block;
	width:13px;
	height:0;
	padding-top:16px;
	overflow:hidden;
	background:transparent url('../images/arrows.png') no-repeat;
	cursor:pointer;
}
.arrow-left a {
	background-position:0 0;
}
.arrow-right a {
	background-position:-20px 0;
	left:20px;
}

.arrow-left a:hover {
	background-position:0 -16px;
}
.arrow-right a:hover {
	background-position:-20px -16px;
	left:20px;
}
.buttons {
	position:absolute;
	top:5px;
	right:0px;
	z-index:100;
}
.pagination {
	float:left;
	margin:0 2px;
}
.pagination a {
	display:block;
	width:10px;
	height:0;
	padding-top:10px;
	background-image:url('../images/pagination.png');
	background-position:0 0;
	overflow:hidden;
}
.active-button a, .active-button a:hover {
	background-position:0 -30px;
}
.pagination a:hover {
	background-position:0 -30px;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */