/* CSS Document */
#cont {
	width: 900px;
	height: 350px;
	margin-top: 10px;
	margin-left: auto;
        margin-right:auto;
	border: 1px solid #cccccc;
}

#cont h2 {
	width: 890;
	height: 31px;
	line-height: 31px;
	padding-left: 10px;
	font-size: 14px;
}

#cont .cleft {
	width: 550px;
	height: 310px;
	float: left;
}

#cont .cleft1 {
	width: 420px;
	height: 40px;
	margin-left: 65px;
	margin-top: 20px;
}

#cont .cleft1 p {
	font-size: 12px;
	line-height: 50px;
	text-align: center;
}

#cont .cleft1 p span {
	color: red;
}

#cont .cleft2 {
	width: 480px;
	height: 100%;
	margin-left: 70px;
}

#cont .cleft2 p {
	font-size: 14px;
	padding-top: 30px;
}

#cont .cleft2 .pdiv {
	width: 80px;
	height: 30px;
	float: left;
	padding-top: 8px;
	text-align: right;
}

#cont .cleft2 .inpt {
	float: left;
}

#cont .cleft2 input {
	width: 250px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #CCCCCC;
}

#cont .cleft2 .inp {
	width: 100px;
	height: 25px;
	border: 1px solid #CCCCCC;
}

#cont .cleft2 .imgs {
	padding-left: 20px;
}

#cont .cleft2 .yzm {
	padding-top: 8px;
}

#cont .cleft2 .yzm a {
	color: #006699;
	text-decoration: none;
}

#cont .cleft2 .yzm a:hover {
	color: #137DDC;
	text-decoration: underline;
}

#cont .cleft2 .inzp {
	margin-top: 20px;
	margin-left: 100px;
}
#cont .cleft2 .clediva {
	width:480px;
	height:100px;
	margin-top:20px;
	background:#f6f6f6;
}
#cont .cleft2 p.twop1 {
	font-size: 14px;
	margin-left: 25px;
	padding:0px 0px 0px 30px;
	text-indent: 15px;
	line-height: 30px;
	background: url(../images/lostpa.jpg) no-repeat;
	background-position: 0 -58px;
}
.twop2 {
	font-size: 14px;
	margin-left: 25px;
	padding-left: 30px;
	text-indent: 15px;
	line-height: 30px;
	float: left;
	margin: -25px 0px 20px 0px;
}
.twop3 {
	padding-left: 5px;
	float: left;
	margin-top: -25px;
}

#cont .cright {
	width: 340px;
	height: 300px;
	margin-top: 10px;
	border-left: 1px dashed #cccccc;
	float: right;
}

#cont .cright1 { /*margin-top:30px;*/
	width: 325px;
	height: 21px;
	margin-left: 15px;
	padding-left: 25px;
	line-height: 21px;
	background: url(../images/tubiao.jpg) no-repeat;
}

#cont .cright2 {
	width: 325px;
	height: 50px;
	margin-left: 15px;
	margin-top: 15px;
}

#cont .cright2 p {
	text-indent:
}

#cont .p1 {
	color: #8b8b8b;
	line-height: 15px;
	padding-top: 5px;
	text-indent: 15px;
}

#cont .p2 {
	color: #8b8b8b;
	padding-top: 20px;
	line-height: 20px;
	text-indent: 15px;
}

#cont .p3 {
	color: #8b8b8b;
	padding-top: 10px;
	text-indent: 15px;
}

#cont .p4 {
	color: #8b8b8b;
	padding-top: 5px;
	text-indent: 15px;
}

#cont .cright3 {
	width: 325px;
	height: 40px;
	margin-left: 15px;
	margin-top: 15px;
}

#cont .cright4 {
	width: 325px;
	height: 110px;
	margin-top: 15px;
	margin-left: 15px;
}

#cont .cright4 span {
	color: red;
}

