/* CSS Document */

#left-1 {
width:146px;
height:100%;
overflow:hidden;
float:left;
margin-top:20px;
padding-bottom:10px;}

#left-1 h1{
height:30px;
line-height:30px;
padding-left:10px;
font-size:14px;
}



#left-1 p.pic{
width:100%;
height:100%;
overflow:hidden;}
#left-1 p.pic img{
width:229px;}

#left-1 ul.order{
margin:10px 0 0 0px;

}
#left-1 ul.order li{
line-height:250%
}
#left-1 ul.order li h1{
background:none;
border-bottom:none;}
#left-1 ul.order li a{
text-decoration:none;}

#left-1 ul.ordermanagement{
margin-left:10px;}
#left-1 ul.ordermanagement li{
line-height:200%;
margin-left:10px;}

#right-2{
width:800px;
height:100%;
overflow:hidden;
float:right;
margin-top:20px;}
#right-2 h1{
width:100%;
height:30px;
line-height:30px;
padding-left:10px;}

/*member-checkin.css*/
#right-2 .date{
width:753%;
height:70px;
line-height:70px;
padding-left:10px;
}
#right-2 .date input.date-1{
width:90px;
height:25px;
line-height:25px;
border:1px solid #999;}
#right-2 .date select{
margin-left:25px;
border:1px solid #999;}
#right-2 .date input.button{
background:url(../images/space_menu.gif);
margin-top:25px;
margin-left:10px;
margin-right:25px;
width:50px;
height:25px;
line-height:25px;
border:1px solid #999;
cursor:pointer;}

#right-2 .table{
margin:0 10px 30px 10px;
}
#right-2 .table table tr{
line-height:220%;
text-align:center;
}
#right-2 .table table tr td,#right-2 .table table tr th{
margin-left:10px;
border:1px solid #999;
border-bottom:none;
border-right:none;
}
#right-2 .table table tr td{
background:#fff;}
#right-2 .table table tr.end td{
border-bottom:1px solid #999;}
#right-2 .table table tr th.right{
border-right:1px solid #999;}
#right-2 .table table tr td.right{
border-right:1px solid #999;}


/*member-checkin-calendar.css*/
#right-2 .calendar1,#right-2 .calendar2{
width:100%;
height:100%;
overflow:hidden;}
#right-2 .calendar1 img,#right-2 .calendar2 img{
width:753px;}






