.header_bot ul li:nth-child(3) a {
	color: #95bc28;
	border-top: 8px #95bc28 solid;
}

.left {
	padding-left: 0 !important;
	font-family: "微软雅黑";
}

.right {
	padding-right: 0 !important;
	font-family: "微软雅黑";
}

.charitable {
	text-align: center;
	padding:20px 0 0;
	margin-bottom:20px;
	border:1px solid #bfbfbf
}

.charitable p {
	display: inline-block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.charitable p span {
	display: inline-block;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	padding: 0 9px;
	border: 1px #fff dashed;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.left_one {
	border: 1px #e2e2e2 solid;
	padding-left: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

.left_one .left_list {
	width: 100%;
	font-size: 14px;
	line-height: 34px;
	color: #000;
	margin-bottom: 0px;
	position: relative;
}

.left_one .left_list span i {
	margin-right: 6px;
	margin-left: 16px;
}

.left_one .left_list .inner_list {
	width: 350px;
	color: #000;
	padding: 13px 30px 20px 30px;
	box-shadow: 0 0 5px 3px #ccc;
	background-color: #fff;
	position: absolute;
	left: 100px;
	top: 0;
	z-index: 100;
	display: none;
}

.left_one .left_list .inner_list span {
	display: inline-block;
	line-height: 26px;
	font-size: 12px;
	margin-right: 20px;
	cursor: pointer;
}

.left_two {
	border: 1px #bfbfbf solid;
	padding: 30px 0 15px 0;
	margin-bottom: 20px;
}

.left_two img {
	display: block;
	margin: 0 auto;
}

.left_two h5 {
	line-height: 38px;
	font-size: 14px;
	color: #92ba21;
	text-align: center;
}

.left_two p {
	line-height: 24px;
	font-size: 12px;
	padding: 0 5px 15px 10px;
}

/*轮播*/
.slides li img {
	width: 100%;
	height: 300px;
}

.store_address {
	padding: 8px 0 8px 15px;
	background-color: #959595;
	margin-bottom: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.store_address:last-child {
	margin-bottom: 0;
}

.store_address h5 {
	line-height: 19px;
	font-size: 14px;
	color: #fff;
}

.store_address p {
	line-height: 21px;
	font-size: 12px;
	color: #fff;
}

.chose {
	padding-left: 22px;
	border: 1px #bfbfbf solid;
	margin-top: 8px;
}

.chose p {
	float: left;
	line-height: 40px;
	font-size: 12px;
}

.chose span {
	display: inline-block;
	float: left;
	font-size: 12px;
	line-height: 24px;
	padding: 0 25px 0 10px;
	background-color: #000;
	color: #fff;
	margin-left: 14px;
	margin-top: 8px;
	position: relative;
}

.chose span img {
	margin-left: 5px;
	position: absolute;
	top: 3px;
}

.show_style {
	float: left;
}

.show_style li {
	float: left;
	font-size: 12px;
	line-height: 46px;
	margin-right: 18px;
}

.show_style .down_up {
	margin-left: 10px;
	margin-top: -2px;
	cursor: pointer;
}

.show_list {
	float: right;
	padding: 11px 0;
}

.show_list input {
	width: 30px;
	height: 21px;
	border: 1px #d4d3d3 solid;
	margin-right: 13px;
}

.show_list span {
	line-height: 21px;
}

.show_list img {
	cursor: pointer;
}

.address_title {
	display: inline-block;
	line-height: 37px;
	font-size: 15px;
	color: #fff;
}

.course {
	border: 1px #bfbfbf solid;
	padding: 25px 0;
	margin-bottom: 0px;
	cursor: pointer;
	margin-top: -1px
}

.course .left img {
	display: block;
	width: 100%;
	height: 200px;
}

.course .middle_T span a {
	display: inline-block;
	line-height: 20px;
	font-size: 16px;
	color: #707070;
	padding-top: 5px;
	margin-right: 30px;
}

.course .middle_T span a i {
	font-size: 18px;
	margin-right: 5px;
	vertical-align: top;
}

.course .middle_M span {
	display: inline-block;
	line-height: 40px;
	font-size: 16px;
	margin-right: 30px;
}

.course .middle_B h5 {
	line-height: 20px;
	font-size: 16px;
	padding: 3px 0;
}

.course .middle_B p {
	line-height: 40px;
	font-size: 16px;
}

.course .right h5 {
	line-height: 36px;
	font-size: 16px;
	text-align: center;
}

.course .right .card {
	padding: 5px 0;
}

.course .right .card p {
	line-height: 24px;
	font-size: 16px;
	padding: 3px 0;
}

.course .right .card p span a {
	display: inline-block;
	float: right;
	line-height: 24px;
	padding: 0 12px;
	cursor: pointer;
}

.tcdPageCode {
	text-align: right;
	padding: 20px 0 240px;
	background: #f6f6f6;
	
}

.tcdPageCode a {
	display: inline-block;
	color: #000;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #888888;
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode .tcdNumber:hover {
	background-color: #bfbfbf;
	color: #fff;
	border: 1px #bfbfbf solid;
}

.tcdPageCode .prevPage, .tcdPageCode .nextPage {
	border: none;
}

.tcdPageCode span {
	color: #000;
}

.tcdPageCode span.current {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	margin: 0 2px;
	color: #fff;
	background-color: #bfbfbf;
	border: 1px #bfbfbf solid;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode span.disabled {
	display: none;
}

/* 2017、7、18 */
.m20 {
	margin: 0px 30px;
}

.left_list {
	padding: 30px 17px;
	border: 1px solid #bfbfbf;
	margin-top: -1px;
}

.m20 a:hover {
	color: #ff4401
}

.m20 a:active {
	color: #ff4401;
}

.thisLi {
	position: relative
}

.thisLi:after {
	position: absolute;
	content: "";
	width: 80%;
	height: 30%;
	top: 35%;
	left: 0;
	border-right: 1px solid #bfbfbf;
}

.download {
	background: #ff4401;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: white;
	margin: 10% 0;
	display: block
}
option{
	outline-color:#ff4401;
	color:#ff4401;
	background:rgba(0,0,0,0)
}
option:hover{
	ouline-color:#ff4401;
}
option:focus{
	ouline-color:#ff4401;
}