body {
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
	background: #fafafa
}

.head {
	background: url(../images/wap/wap_headbg.jpg) no-repeat top center;
	height: 657px;
}

.cl {
	clear: both;
	width: 0px;
	height: 0px;
	font-size: 0px;
}

.head_l {
	float: left
}

.head_r {
	float: right;
	margin-top: 2%;
	padding-right: 3px;
}

.ad {
	padding-top: 2%;
	padding-left: 8%;
}

.ma {
	float: left;
	padding-top: 93px;
	padding-left: 78px;
}

.btn {
	padding-left: 45%;
	padding-top: 1%;
}

.btn a {
	display: block;
	margin-bottom: 10px;
}

.btn a:hover img {
	filter: alpha(opacity = 95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}

.mian_widths {
	width: 1000px;
	margin: 0 auto;
	padding-top: 60px;
}

.bt {
	margin: 0 auto;
	line-height: 80px;
	text-align: center;
	font-size: 14px;
	color: #808080;
	text-align: center
}